[submodule "Captcha"]
        path = common/vendor/Captcha
        url = https://github.com/Gregwar/Captcha.git

[submodule "Mobile-Detect"]
        path = common/vendor/Mobile-Detect
        url = https://github.com/serbanghita/Mobile-Detect.git

[submodule "wechat"]
        path = common/vendor/vendor/overtrue/wechat
        url = https://github.com/overtrue/wechat.git
