/* lato-300 - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin_latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/lato-v11-latin_latin-ext-regular.svg#Lato') format('svg'); /* Legacy iOS */
}



/* open-sans-regular - greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-600.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/open-sans-v13-greek_cyrillic_latin_cyrillic-ext_vietnamese_latin-ext_greek-ext-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}


/* raleway-100 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-100.eot'); /* IE9 Compat Modes */
  src: local('Raleway Thin'), local('Raleway-Thin'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-100.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-100.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-300 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Raleway Medium'), local('Raleway-Medium'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-600 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-600.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin_latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://bullsoft-static.oss-cn-beijing.aliyuncs.com/fonts/raleway-v10-latin_latin-ext-700.svg#Raleway') format('svg'); /* Legacy iOS */
}